# Dependencies/build output
node_modules/
_site/
.jekyll-cache/
.sass-cache/
.bundle/
vendor/

# Jekyll/Liquid HTML templates
_includes/
_layouts/
_pages/**/*.html
assets/html/
talkmap/

# Generated/minified/vendor-ish JS
assets/js/distillpub/
talkmap/leaflet_dist/
